.btn-group-custom {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.btn-custom-blue {
    color: #007bff !important;
    font-weight: 900; 
    font-size: 40px; 
    text-align: center;
    padding: 4px 3px;
    border: 2px solid #007bff;
    background-color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.btn-custom-blue:hover {
    background-color: #007bff;
    border-color: #007bff;
    transform: translateY(-2px);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.btn-custom-blue:active {
    transform: translateY(1px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-custom-blue.active {
    background-color: #0056b3;
    border: 2px solid #0056b3;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.spacing-section {
    padding-top: 5px;
    padding-bottom: 15px;
}

.resource-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}


.features {
    margin: 0;       
    padding: 0;      
}

.section-title {
    margin: 40px 0 0 0;  
    text-align: center;
    font-weight: bold;
    font-size: 3.2rem;
}
